<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raft Graph - Get connections between People</title>
    <meta name="description" content="Web app for raft labs" />
    <link rel="preconnect" href="https://fonts.pycode.tk" crossorigin />
    <link rel="preload" href="https://fonts.pycode.tk/poppins.css" as="style" />
    <link
      rel="stylesheet"
      href="https://fonts.pycode.tk/poppins.css"
      media="print"
      onload="this.media='all'"
    />
    <base href="/" />
    <% if (htmlWebpackPlugin.options.css.trim()){ %>
    <style>
      /** Catom Injected CSS */
      <%= htmlWebpackPlugin.options.css %>
    </style>
    <% } %>
    <script data-js="touch-intent-css-fix">
      /iPhone|iPod|iPad/.test(navigator.platform) &&
        (document.head.appendChild(document.createElement("style")).innerText =
          "*{cursor:pointer}");
    </script>
  </head>

  <body>
    <div id="app-mount">
      <noscript>This App uses JavaScript...</noscript>
    </div>
  </body>
</html>
